*{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #dfe6f5;
}

.hdr{
  background-color: #B233FF;
  height: 47px;
  color: white;
  width: 100%;
  border-top: 4px solid black;
}
.hdr-content{
  margin-top: 5.4px;
  margin-left: 5px;
  background-color:  #B233FF;
}
.pby p{
  color: grey;
  position: fixed;
  margin-left: 90vw;
  margin-top: 90vh;
}

.bar{
  margin-top: 18px;
  text-align: center;
}
.bar input{
  background-color: white; /*color name*/
  height: 25px;
  border: 0px;
  width: 35%;
  border-radius: 5px;
  box-shadow: 0px 0px 14px 2px rgba(178, 51, 255 .2);
  padding: 4px;
  font-size: 18px;
}
.bar input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  padding-left: 7px;
  font-size: 15px;
}
.bar button{ /* Chrome/Opera/Safari */
  background-color:  #B233FF;
  border: none;
  height: 30px;
  color: white;
  width: 75px;
  font-size: 19px;
  border-radius: 4px;
}

.searching p{ /*for searching*/
  background-color: white;
  margin-left: 5px;
}

.searching{ /* Chrome/Opera/Safari */
  width: 55%;
  background-color: white;
  margin-top: 13px;
  height: 55px;
  font-weight: bold;
  padding-top: 30px;
  color: grey;
  text-align: left;
  box-shadow: 0px 0px 14px 2px rgba(178, 51, 255, .2);
}

.notfound p{
  background-color: white;
  margin-left: 4px;
}

.notfound{ /* when city name not found*/
  width: 55%;
  background-color: white;
  margin-top: 12px;
  height: 55px;
  font-weight: bold;
  padding-top: 30px;
  color: grey;
  box-shadow: 0px 0px 14px 2px rgba(178, 51, 255, .2);
}
.time{/*time*/
  display: flex;
}
.container{ /*container*/
  margin-top: 12px;
  width: 55%;
  height: 45vh;
  background-color: white;
  padding: 7px;
  color: #4f4d4d;
  box-shadow: 0px 2px 18px 0px rgba(178, 51, 255, .6);
}

.container div{
  background-color: white;
}


.temperature{ /*temperature variable*/
  display: flex;
  width: 60%;
  justify-content: center;
  margin-top: 12%;
}
.temperature img{
  margin-left: 7px;
  background-color: white;
}
.temperature:first-child{
  font-size: 70px;
  font-weight: bolder;
}

/*.temprature img{
  margin-left: 7px;
  background-color: white;
}*/


.content{
  display: flex;
}


.otherContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.otherContent div{
  padding: 12px;
  font-size: 18px;
}
.otherContent b{
  background-color: white;
}


.comntContainer{
  background-color: white;
  padding: 15px;
  width: 55%;
  border-radius: 1.5px;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 255, .2);
  margin: 15px auto;
}
.comntContainer div{
  background-color: white;
}
.comntContainer input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  padding-left: 5px;
  font-size: 18px;
}
.comntContainer input{
  width: 100%;
  height: 55px;
  border-radius: 1.5px;
  background-color: #ffe6fd;
  border: 2px solid #ffdbfc;
  font-size: 18px;
}
.comntContainer button{
  background-color: #4e03ff;
  font-size: 18px;
  color: white;
  margin-top: 7px;
  border: none;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 15px;
  position: relative;
}
.comntContainer p{
  background-color: white;
  padding: 5px;
  margin-top: 5px;
}
.comntContainer img{
  height: 40px;
  width: 40px;
}
.listComnt{
  display: flex;
}
